// whole page styling

// above-the-fold
.above-the-fold {
  border-radius: 4px;
  background-image: radial-gradient(circle at 22% 27%, rgba(158, 193, 189, 0.18), #bbdce1);
  margin: 0;
  overflow: hidden;
  box-shadow: 0 -3px 32px 0 rgba(43, 88, 93, 0.14) inset;

  @media (min-width: $sm) {
    min-height: 700px;
  }
}

.hero {
  @media (min-width: $sm) {
    padding-top: 150px;
    margin-left: 100px;
  }

  .grid {
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
  }

  .heading-text .title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .bird-img {
    z-index: 2;

    @media (min-width: $md) {
      position: absolute;
      text-align: center;
      left: 61%;
      transform: translateX(-50%);
    }

    @media (max-width: $md) {
      max-width: 80%;
    }

    img {
      max-width: 100%;
      display: block;
    }
  }

  .heading-text {
    max-width: 518px;
    padding-bottom: 50px;

    p {
      font-size: 22px;
      margin-top: 14px;
      line-height: 1.7;
    }

    .btn {
      margin-top: 33px;
    }
  }

  .side-nav {
    background: $brandPink;
    box-shadow: -5px 3px 8px 0 rgb(210, 179, 167) inset;
    border-top-left-radius: 60px;
    position: relative;
    z-index: 1;
    padding: 40px 20px;

    @media (min-width: $md) {
      width: 35%;
      margin-right: -8px;
      padding: 110px 24px 50px 12px;
      height: 636px;
      text-align: right;
    }

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 50px;
      border-bottom: 640px solid  $brandPink;
      border-left: 216px solid transparent;
    }

    i {
      border: solid $text-color;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      margin-left: 3px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    h3 {
      font-size: 24px;
      font-family: $semibold-font;
    }

    li {
      list-style: none;
      padding-top: 53px;
      text-align: right;
      font-size: 20px;
      color: $text-color;
      font-family: $sub-heading-font;
      letter-spacing: 0.8px;

      a {
        color: $text-color;
      }
    }
  }
}

// what-section
.what-section {
  margin-top: 72px;
  background: url(../images/leaves_1.png) no-repeat;
  background-position: 18% top;
  padding-bottom: 205px;

  .box-container {
    border-radius: 4px;
    box-shadow: -2px 8px 16px 0 rgba(191, 191, 191, 0.5);
    background-color: #f2f7f7;
    text-align: center;
    max-width: 778px;
    padding: 18px 50px 40px;

    h2 {
      font-size: 38px;
      letter-spacing: 0.6px;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 25px;
      font-family: $sub-heading-font;
      line-height: 1.5;
      letter-spacing: 0.7px;
      margin: 0;
      font-weight: 400;
      padding-top: 0;
    }

    p {
      padding-top: 7px;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
    }
  }
}

// I can help section
.how-section {
  .box-container {
    max-width: 700px;
    text-align: center;

    h2 {
      margin-bottom: 28px;
      font-size: 38px;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .btn {
      margin-top: 26px;
    }
  }
}

// About section
.about-section {
  padding: 150px 0;

  .about-img {
    /* placeholder styling */
    width: 456px;
    height: 449px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    background-color: #d8d8d8;
  }

  .text-container {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;

    @media (min-width: $sm) {
      margin-left: 149px;
    }

    h2 {
      margin-bottom: 25px;
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    .btn {
      margin-top: 25px;
    }
  }
}

//contact @section
.contact-section {
  padding: 90px 0;
  background: #d6e5e3;

  .contact-info {
    margin-top: 23px;
    align-items: flex-end;
  }

  .text-container {
    text-align: center;
    max-width: 590px;
    margin: 0 auto;

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 20px;
    }
  }

  .form-container {
    min-width: 50%;

    form {
      margin-bottom: 0;

      label {
        margin-top: 16px;
        color: $text-color;
        font-family: $semibold-font;
        text-transform: uppercase;
        font-size: 18px;
      }

      textarea {
        width: 100%;
        border: 1px solid #487e81;
        border-radius: 2px;
        resize: none;
        min-height: 96px;
      }

      input {
        width: 100%;
        border-radius: 2px;
        border: 1px solid #487e81;
        min-height: 46px;
      }
    }

    .btn {
      margin-top: 31px;
      width: 100%;
      border-style: none;
    }
  }

  .contact-info-container {
    min-width: 50%;
    padding-left: 5%;

    .contact-details {
      margin-bottom: 50px;
      font-family: $heading-font;

      p {
        font-size: 24px;
        font-family: $heading-font;
        display: inline-block;
      }

      i {
        margin-right: 12px;
        color: #074869;
      }
    }

    .btn {
      width: 100%;
      background-color: $text-color;
      margin-top: 20px;

      i {
        color: #fff;
        margin-right: 20px;
      }
    }
  }
}

// counselling services @section
.services-section {
  margin-top: 140px;

  .services-heading {
    text-align: center;
    margin-bottom: 40px;
  }

  .services-grid {
    @media (min-width: $sm) {
      margin: 0 20px;
    }

    .services-box {
      max-width: 400px;
      border-radius: 4px;
      box-shadow: -5px 6px 16px 0 rgba(120, 120, 120, 0.34);
      padding: 20px 25px;
      margin-left: 21px;

      h3 {
        font-size: 26px;
      }

      ul {
        margin-left: 6px;
        padding-left: 0;
        color: $text-color;
      }
    }

    .box-1 {
      background-color: $brandBlue;
    }

    .box-2 {
      background-color: $brandPink;
    }

    .box-3 {
      background-color: $brandGreen;
    }

    .box-4 {
      background-color: $brandLightGreen;
    }
  }
}
