// whole page styling

// above-the-fold
.above-the-fold {
  border-radius: 4px;
  background-image: radial-gradient(circle at 22% 27%, rgba(158, 193, 189, 0.18), #bbdce1);
  margin: 0;
  overflow: hidden;
  box-shadow: 0 -3px 32px 0 rgba(43, 88, 93, 0.14) inset;

  @media (min-width: $sm) {
    min-height: 700px;
  }

  @media (max-width: $sm) {
    text-align: center;
    padding: 50px 20px;
  }
}

.hero {
  @media (min-width: $sm) {
    padding-top: 150px;
    margin-left: 100px;
  }

  .grid {
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
  }

  .heading-text .title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .bird-img {
    z-index: 2;

    @media (min-width: $md) {
      position: absolute;
      text-align: center;
      left: 61%;
      transform: translateX(-50%);
    }

    @media (max-width: $md) {
      max-width: 80%;
    }

    img {
      max-width: 100%;
      display: block;
    }
  }

  .heading-text {
    max-width: 518px;
    padding-bottom: 50px;

    h1 {
      @media (max-width: $md) {
        font-size: 40px;
      }
    }

    p {
      margin-top: 14px;
      line-height: 1.7;

      @media (max-width: $md) {
        font-size: 18px;
      }

      @media (min-width: $md) {
        font-size: 22px;
      }
    }

    .btn {
      margin-top: 33px;
    }
  }

  .side-nav {
    background: $brandPink;
    box-shadow: -5px 3px 8px 0 rgb(210, 179, 167) inset;
    border-top-left-radius: 60px;
    position: relative;
    z-index: 1;
    padding: 40px 20px;

    @media (min-width: $md) {
      width: 35%;
      margin-right: -8px;
      padding: 110px 24px 50px 12px;
      height: 636px;
      text-align: right;
    }

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 50px;
      border-bottom: 640px solid  $brandPink;
      border-left: 216px solid transparent;
    }

    i {
      border: solid $text-color;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      margin-left: 3px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    h3 {
      font-size: 24px;
      font-family: $semibold-font;
    }

    li {
      list-style: none;
      padding-top: 53px;
      text-align: right;
      font-size: 20px;
      color: $text-color;
      font-family: $sub-heading-font;
      letter-spacing: 0.8px;

      a {
        color: $text-color;
        transition: all 0.25s;
        padding-right: 1px;

        &:hover {
          text-decoration: none;
          padding-right: 10px;
        }
      }
    }

    @media (max-width: $sm) {
      display: none;
    }
  }
}

// what-section
.what-section {
  margin-top: 72px;
  background: url(../images/leaves_1.jpg) no-repeat;
  background-position: 32% 40px;
  padding-bottom: 190px;

  @media (max-width: $md) {
    padding-bottom: 50px;
  }

  .box-container {
    border-radius: 4px;
    box-shadow: -2px 8px 16px 0 rgba(191, 191, 191, 0.5);
    background-color: #f2f7f7;
    text-align: center;
    max-width: 778px;

    @media (min-width: $md) {
      padding: 18px 50px 40px;
    }

    @media (max-width: $md) {
      padding: 20px 20px 30px 20px;
    }

    h2 {
      font-size: 38px;
      letter-spacing: 0.6px;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 25px;
      font-family: $sub-heading-font;
      line-height: 1.5;
      letter-spacing: 0.7px;
      margin: 0;
      font-weight: 400;
      padding-top: 0;
    }

    p {
      padding-top: 7px;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
    }
  }
}

// I can help section
.how-section {
  .box-container {
    max-width: 720px;
    text-align: center;

    h2 {
      margin-bottom: 28px;
      font-size: 38px;
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .btn {
      margin-top: 26px;
    }
  }
}

// About section
.about-section {
  padding: 40px 0;

  @media (min-width: $md) {
    padding: 0 0 65px;
  }

  .about-grid {
    @media (min-width: $md) {
      justify-content: space-evenly;
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .about-img {
    max-width: 456px;

    @media (max-width: $sm) {
      max-width: 180px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      display: block;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    }
  }

  .text-container {
    text-align: center;
    max-width: 640px;
    background: url("../images/forest.jpeg") no-repeat center bottom;
    background-size: contain;
    padding: 0 20px 233px 20px;

    @media (max-width: $md) {
      padding: 0 0 103px 0;
    }

    h2 {
      margin-bottom: 25px;
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    .btn {
      margin-top: 25px;
    }
  }
}

// counselling services @section
.services-section {
  padding: 40px 0;

  @media (min-width: $sm) {
    background: url("../images/servicelist-title-img.jpg") no-repeat;
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: contain;
  }

  @media (min-width: $md) {
    padding: 140px 0 120px;
  }

  .services-heading {
    text-align: center;
    margin-bottom: 40px;
  }

  .services-grid {
    flex-wrap: wrap;
    justify-content: space-between;

    .services-box {
      max-width: 620px;
      border-radius: 4px;
      box-shadow: -5px 6px 16px 0 rgba(120, 120, 120, 0.34);
      padding: 40px 50px 100px;
      flex: 49%;
      margin-bottom: 20px;
      position: relative;

      @media (max-width: $lrg) {
        margin-bottom: 20px;
      }

      @media (max-width: $sm) {
        padding: 30px 20px 30px;
      }

      h3 {
        font-size: 26px;
      }

      ul {
        padding-left: 0;
        color: $text-color;
        font-size: 16px;
        margin: 20px 0 20px 20px;

        li {
          font-size: 16px;
          margin-bottom: 6px;
        }
      }

      .btn {
        @media (max-width: $sm) {
          width: 100%;
        }

        @media (min-width: $sm) {
          position: absolute;
          bottom: 40px;
        }
      }
    }

    .box-1 {
      background-color: $brandBlue;
    }

    .box-2 {
      background-color: $brandPink;
    }

    .box-3 {
      background-color: $brandGreen;
    }

    .box-4 {
      background-color: $brandLightGreen;
    }
  }
}

//testimonial section
.testimonial-section {
  background-color: $brandGreen;

  @media (max-width: $md) {
    padding: 20px 0 30px 0;
    text-align: center;

    h2 {
      line-height: 1.2;
      margin-bottom: 30px;
    }
  }

  @media (min-width: $md) {
    padding: 72px 100px 100px 100px;
  }

  .text-container {
    max-width: 1100px;

    .quote-name {
      font-weight: bold;
    }
  }
}
