.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  #title {
    font-size: 30px;
    font-family: $heading-font;
    color: $text-color;
    margin-left: 98px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    list-style: none;

    .nav-item {
      padding: 0 38px;
      color: $text-color;
      font-size: 18px;
      font-family: $semibold-font;
    }
  }
}
