.single {
  .grid {
    justify-content: flex-start;
  }

  .img-container {
    margin-bottom: 30px;
  }

  .img-container,
  .box-container {
    border-radius: 4px;
    box-shadow: -2px 8px 16px 0 rgba(191, 191, 191, 0.5);

    @media (min-width: $sm) {
      min-width: 50%;
    }
  }

  .img-no-box {
    img {
      display: block;
      max-width: 100%;
    }

    @media (min-width: $sm) {
      min-width: 50%;
    }
  }

  .heading {
    background: url(../images/services-title-img.jpg) no-repeat;
    background-position: center;
    margin-bottom: -120px;
    padding: 100px 0 300px;
    position: relative;

    .bound-box {
      position: relative;

      &::after {
        content: "";
        width: 65%;
        background-image: radial-gradient(circle at 22% 27%, rgba(158, 193, 189, 0.18), #bbdce1);
        background-color: #fff;
        border-radius: 0 4px 4px 0;
        box-shadow: -2px 8px 16px 0 rgba(191, 191, 191, 0.5);
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
      }
    }

    .wrapper {
      position: relative;
      z-index: 2;
    }

    .box-container {
      max-width: 700px;
      box-shadow: none;
      padding: 35px 20px 100px 0;
    }

    .breadcrumb {
      font-weight: 600;
      margin-bottom: 40px;
    }

    h1 {
      margin-bottom: 25px;
      max-width: 400px;
    }

    p {
      line-height: 1.7;
    }
  }
}
