.btn {
  background-color: $brandCTA;
  color: $lightText;
  padding: 14px 42px;
  font-size: 18px;
  font-family: $semibold-font;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}
