.archive,
.single,
.page-template-default {
  padding-top: 150px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid {
  @media (min-width: $sm) {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
